services:
  postgres:
    image: postgres:16
    container_name: artists-postgres
    environment:
      POSTGRES_DB: artists
      POSTGRES_USER: artists
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - artists-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U artists" ]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: artists-minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - artists-network

  backend:
    build:
      context: ./backend
    container_name: backend
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SERVER_PORT: 8080

      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/artists
      SPRING_DATASOURCE_USERNAME: artists
      SPRING_DATASOURCE_PASSWORD: password

      SPRING_FLYWAY_ENABLED: true

      MINIO_URL: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: albums
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - artists-network
    ports: [ ]

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - artists-network

volumes:
  postgres_data:
  minio_data:

networks:
  artists-network:
    driver: bridge
